<ion-view view-title="Banko Maçlar">
  <ion-content class="padding">
    <ion-refresher
      pulling-text="Yenilemek için aşağı çekin..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list card" ng-repeat="game in games">
      <div class="item item-divider" ng-style="{'background-color': '#018641'}">
        <p ng-style="{color: '#ffffff'}"><b>{{game.date}} | {{game.code}} | {{game.teams}} </b></p>
      </div>
      <div class="item item-body" ng-style="{'background-color': '#00A65E'}">
        <div ng-style="{color: '#FFE802'}">
          <b>{{game.guess_string}}</b><br/>
          <b>{{game.guess}} | {{game.category}} | Oran: {{game.rate}}</b>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
